.list-group
    a.list-group-item(href="#")
        span.badge 4
        span.glyphicon.glyphicon-list-alt.icon-left
        | All
    a.list-group-item(href="#")
        span.badge 4
        span.glyphicon.glyphicon-ok.icon-left
        | Todo
    a.list-group-item(href="#")
        span.badge 4
        span.glyphicon.glyphicon-check.icon-left
        | Completed
    a.list-group-item(href="#")
        span.badge 4
        span.glyphicon.glyphicon-trash.icon-left
        | Deleted